.about {
	padding-bottom: 100px;
	&__body {
		@media (min-width:768px) {
			display: flex;
		}
	}

	&__info {
		margin-bottom: 16px;
		@media (min-width:768px) {
			margin-bottom: 0;
			margin-right: 48px;
		}
		@media (min-width:1120px) {
			margin-right: 36px;
		}
	}

	&__text {
		margin-bottom: 16px;
		@media (min-width:768px) {
			margin-bottom: 12px;
		}
	}

	&__tablet {
		display: none;
		@media (min-width:768px) {
			display: inline;
		}
	}

	&__desktop {
		display: none;
		@media (min-width:1120px) {
			display: inline;
		}
	}

	&__link {
		display: inline-block;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: -0.2px;
		color: #1b1c21;
		font-weight: 700;
		padding-left: 32px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			background: url("../img/link-arrows.svg") center / 8px no-repeat;
		}
		span {
			position: relative;
			&::after {
				content: "";
				transition: transform 0.3s ease 0s;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: #1b1c21;
				transform: scaleX(0);
				transform-origin: right;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					&::after {
						transform: scaleX(1);
						transform-origin: left;
					}
				}
			}
		}
	}

	&__image {
		margin: 0 -16px;
		overflow: hidden;
		position: relative;
		padding: 0 0 61.2% 0;
		img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
		@media (min-width:768px) {
			margin: 0;
			border-radius: 6px;
			padding: 0 0 29% 0;
			flex: 0 0 50%;
		}
	}
}
