.menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 320px;
	height: 100vh;
	padding: 120px 24px 32px 24px;
	background: #ffffff;
	box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	&__header {
		display: flex;
		align-items: center;
		min-height: 88px;
		position: fixed;
		top: 0;
		left: 0;
		width: 320px;
		padding: 0 24px;
		background-color: #fff;
		z-index: 10;
	}

	&__burger {
		cursor: pointer;
	}

	&__logo {
		@media (min-width: 768px) {
			margin: 0 0 0 16px;
			&:before {
				display: none;
			}
		}
	}

	&__search {
		margin-left: auto;
	}

	&__navigation {
		margin-bottom: 32px;
	}

	&__item {
		margin-bottom: 32px;
	}

	&__link {
		font-size: 16px;
		line-height: 150%;
		letter-spacing: -0.2px;
		color: #1b1c21;
		font-weight: 500;
		transition: opacity 0.3s ease, color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.5;
			}
		}
	}

	&__link--active {
		position: relative;
		color: #7e7e82;
		&::before {
			content: "";
			background: #41f6d7;
			width: 4px;
			height: 32px;
			position: absolute;
			top: 50%;
			left: -24px;
			border-radius: 2px;
			transform: translate(0, -50%);
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
				color: #1b1c21;
			}
		}
	}

	&__contacts {
		margin-top: auto;
	}

	&__links {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -8px 16px -8px;
	}

	&__point {
		margin: 0 8px;
	}

	&__mail {
		font-size: 16px;
		line-height: 150%;
		letter-spacing: -0.2px;
		color: #1b1c21;
		display: block;
		margin-bottom: 12px;
		span {
			position: relative;
			&::after {
				content: "";
				transition: transform 0.3s ease 0s;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: #1b1c21;
				transform: scaleX(0);
				transform-origin: right;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					&::after {
						transform: scaleX(1);
						transform-origin: left;
					}
				}
			}
		}
	}

	&__phone {
		font-size: 24px;
		line-height: 133%;
		letter-spacing: -0.6px;
		color: #1b1c21;
		font-weight: 700;
		display: block;
		margin-bottom: 40px;
		span {
			position: relative;
			&::after {
				content: "";
				transition: transform 0.3s ease 0s;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: #1b1c21;
				transform: scaleX(0);
				transform-origin: right;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					&::after {
						transform: scaleX(1);
						transform-origin: left;
					}
				}
			}
		}
	}
}
.lang {
	display: flex;
	align-items: center;
	margin: 0 -4px;
	&__item {
		margin: 0 4px;
	}

	&__link {
		font-size: 16px;
		line-height: 150%;
		letter-spacing: -0.2px;
		color: #1b1c21;
		transition: opacity 0.3s ease, color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.5;
			}
		}
	}

	&__link--active {
		color: #7E7E82;
		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
				color: #1b1c21;
			}
		}
	}
}
